/** Container size */
.container {
    width: 100% !important;
    max-width: 1720px !important;
    @media (max-width: $widescreen) { 
        max-width: 1300px !important;
    }
}

/** Font */
body {
    font-family: $mainFont;
    color: $grey;
}


/** Basics rules */

.done {
    display: none !important;
}
.main {
    padding-top: 96px;
}
img {
    max-width: 100%;
}