/** Container size */
.container {
    width: 100% !important;
    max-width: 1720px !important;
    @media (max-width: $widescreen) { 
        max-width: 1300px !important;
    }
}

/** Font */
body {
    font-family: $mainFont;
    color: $grey;
    font-size: 20px;
    @media (max-width: $tablet) { 
        font-size: 16px;
    }
}
a {
    color: $blue;
    i {
        transform: rotate(-45deg);
    }
    &:hover {
        color: $blue;
        i {
            transform: rotate(0deg);
        }
    }
}
h2 {
    font-size: 60px;
    color: $blue;
    margin-bottom: 100px;
    @media (max-width: $tablet) { 
        font-size: 40px;
        margin-bottom: 50px;
    }
    @media (max-width: $mobile) { 
        font-size: 30px;
        margin-bottom: 30px;
    }
}
h3 {
    font-size: 30px;
    color: $blue;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 25px;
    @media (max-width: $tablet) { 
        font-size: 24px;
    }
    @media (max-width: $mobile) { 
        font-size: 20px;
        margin-bottom: 15px;
    }
}



/** Basics rules */

.done {
    display: none !important;
}
.main {
    padding-top: 96px;
}
img {
    max-width: 100%;
}


/** Button */

.button {
    background-color: $red;
    color: $white;
    padding: 12px 50px;
    @media (max-width: $laptop) {
        padding: 12px 25px;
    }
}