/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$mainFont: 'Montserrat', sans-serif;

/** Color */
$grey: #666666;
$blue: #027EC4;
$red: #FF1359;
$white: #fff;

/** Responsive */
$widescreen: 1720px;
$laptop: 1400px;
$tablet: 1024px;