.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  height: 96px;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      border-bottom: 1px solid $grey;
      @media (max-width: $tablet) { 
        display: none;
      }
      .menu-smat-container {
        ul {
          li {
            a {
              padding: 24px 50px;
              color: $grey;
              &:hover {
                background-color: #EEEEEE;
              }
            }
            
          }

        }
      }
    }
  }
}