.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  height: 96px;
  position: fixed;
  width: 100%;
  background-color: $white;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-burger {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      @media (min-width: $tablet) { 
        display: none;
      }
      .close-menu {
        display: none;
      }
      
      .burger-nav{
        .menu-smat-container {
          position: fixed;
          top: 130px;
          right: 0px;
          background-color: $blue;
          ul {
            display: flex;
            flex-direction: column;
            li {
              a {
                color: white;
                &:hover {
                  color: $blue;
                }
              }
            }
          }
        }
      }
    }
    nav {
      border-bottom: 1px solid $grey;
      background-color: $white;
      @media (max-width: $tablet) { 
        display: none;
      }
      .menu-smat-container {
        ul {
          li {
            a {
              padding: 24px 50px;
              color: $grey;
              &:hover {
                background-color: #EEEEEE;
              }
            }
            
          }

        }
      }
    }
  }
}