.page {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    #main {
        margin-top: $menuHeight;
    }
    .container {
        width: 100%;
        max-width: 1620px;
        margin: 0 auto;
        position: relative;
        @media screen and (max-width: $widescreen) {
            max-width: 90%;
        }
        img {
            max-width: 100%;
        }
    }
    .button {
        background-color: $red;
        text-transform: uppercase;
        padding: 12px 50px;
        color: $white !important;
        font-size: 20px;
        @media screen and (max-width: 1700px) {
            padding: 12px 25px;
            font-size: 18px;
        }
        &:hover {
            text-decoration: none !important;
            background-color: $bleu;
        }
    }
}

.active {
    display: block !important;
}

