@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.page, .page .container {
    font-family: 'Montserrat', sans-serif;
    h1 {
        font-size: 130px;
        color: $bleu;
        @media screen and (max-width: $laptop) {
           font-size: 80px;
        }
        @media screen and (max-width: $tablet) {
           font-size: 60px;
        }
        @media screen and (max-width: $mobile) {
           font-size: 40px;
        }
        .sub-title{
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            @media screen and (max-width: $laptop) {
                font-size: 28px;
            }
            @media screen and (max-width: $tablet) {
                font-size: 24px;
            }
            @media screen and (max-width: $mobile) {
                font-size: 16px;
            }
        }
    }
    h2 {
        font-size: 50px;
        color: $bleu;
        @media screen and (max-width: $laptop) {
            font-size: 40px;
        }
        @media screen and (max-width: $mobile) {
            font-size: 30px;
        }
    }
    h3 {
        font-size: 26px;
        font-weight: 700;
        color: $bleu;
        @media screen and (max-width: $laptop) {
            font-size: 25px;
        }
        @media screen and (max-width: $mobile) {
            font-size: 20px;
        }
    }
    p {
        font-size: 18px;
        color: $grey;
        line-height: 26px;
        @media screen and (max-width: $tablet) {
            font-size: 16px;
            line-height: 24px;
        }
        @media screen and (max-width: $mobile) {
            font-size: 14px;
            line-height: 22px;
        }
    }
    a {
        color: $bleu;
        font-weight: 700;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}