// Colors
$grey        : #666666;
$lightGrey   : #EEEEEE;
$bleu        : #027EC4;
$white       : #fff;
$red         : #FF1359;

// Device
$mobile            : 600px;
$tablet_portrait   : 769px;
$tablet_container  : 980px;
$tablet            : 1024px;
$desktop           : 1220px;
$laptop            : 1400px;
$widescreen        : 1800px;


// Font
$font              : 'Source Code Pro', monospace;

// Menu
$menuHeight        : 96px;

